@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,300,700);

/* Base */
body{
    font-family: 'Work Sans', sans-serif;
    color: #ffffff;
    background-color: #190E2F;
    padding: 9em 0;
}

a,
a:focus,
a:hover{
    color: #3f9c34;
}

a:focus,
a:hover{
    opacity: 0.5;
    text-decoration: none;
}

.label{
    color: inherit;
}

.container{
    width: 80%;
}

/* Main */
#main h1{
  font-size: 4em;
  line-height: 0.8em;
  text-align: center;
}

#main span.description,
#main h1 > small{
    display: block;
}

#main span.description{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 2.5em;
}

#main div.contacts{

}

    #main div.contacts a span.label,
    #main div.contacts address span.label{
        font-size: 1em;
    }

    #main div.contacts a i,
    #main div.contacts address i{
        padding-right: 0.3em;
    }

    #main div.contacts ul,
    #main div.contacts .info{
        padding: 0;
        text-align: center;
        display: inline-block;
        width: 100%;
    }

    #main div.contacts address.info{
        margin-bottom: 0.5em;
    }

    #main div.contacts ul{
        padding: 3em 0;
    }
        #main div.contacts ul li{
            padding: 0 0.3em;
            display: inline-block;
            font-size: 2em;
        }
            #main div.contacts ul li span.label{
                display: none;
            }

/* Footer */
#footer{
    padding: 1em 2em;
    text-align: right;
}

    #footer ul li{
        list-style: none;
    }


@media (min-width: 768px) {
    .container{
        width: 40%;
    }

    #main h1{
        font-size: 4em;
        text-align: right;
    }

    #main span.description{
        font-size: 1.5em;
    }

    #main div.contacts .info {
        text-align: right
    }


    #main div.contacts a .label,
    #main div.contacts address .label{
        font-size: 2em;
    }

    #main div.contacts ul li{
        font-size: 3em;
    }
}

@media (min-width: 992px) {
    #main h1{
        font-size: 3.5em;
        text-align: right;
    }

    #main span.description{
        font-size: 1.3em;
    }

    #main div.contacts ul li{
        font-size: 3em;
    }
}